* {
  margin: 0px;
  padding: 0px;
}

.circle {
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 9999;
  border-radius: 50%;
  background-color: #fff;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
}

.maincontainer {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

.bounding {
  width: fit-content;
  overflow: hidden;
}

.bounding .boundingelem {
  transform: translateY(108%);
}

.container {
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.nav {
  height: 40px;
  padding-left: 4px;
  background-color: rgb(27, 26, 26);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
  color: aliceblue;
}

.main {
  color: #fff;
  /* font-size: 6vw; */
  text-transform: uppercase;
  opacity: 0.6;
}

.main h1 {
  font-size: 10vw;
  line-height: 0.6;
  margin-top: 70px;
  margin-left: 30px;
}

.main h2 {
  margin-left: 170px;
  font-size: 10vw;
}

.main h4 {
  opacity: 1;
  margin-left: 50vw;
}

.footer {
  width: 100%;
  /* margin: 0px 5px 0px 5px; */
  padding: 0px 4px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  opacity: 0.8;
  font-size: 10px;
  margin: 800px;
}

.container-2 {
  padding-top: 100px;
  padding-right: 10vw;
  background-color: black;
  color: rgb(245, 245, 245);
  height: 100vh;
  width: 100%;
}

.elem {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid rgb(89, 87, 87);
  padding: 2vw 1vw;
  padding-right: 0;
}

.container-2 h1 {
  font-size: 8vw;
  opacity: 0.9;
}

.elem img {
  width: 200px;
  height: 400px;
  opacity: 0;
  height: 120%;
  z-index: 999;
  position: absolute;
}
